extends template

block content
	div.container-fluid
		div.row
			div.col-md-3.col-sm-3.col-lg-3
				div.users
			div.col-md-9.col-sm-9.col-lg-9
				div.container-fluid.message-display
					div.message-container

				div.container-fluid.user-input
					div.row
						form#message_form(autocomplete="off")
							textarea#message(type="text", name="message", rows="2", cols="60")
							input#message_submit.btn.btn-info(type="submit", value="Submit")