doctype html

html(lang='en')
    head
        meta(charset='UTF-8')
        title #{title}
        link(rel='stylesheet', href='/public/css/alertify.css')
        link(rel='stylesheet', href='/public/css/style.css')
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        script(src='/public/lib/jquery-3.0.0.min.js')
        script(src='/public/lib/alertify.min.js')
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
        if scripts != null
            each script in scripts
                script(src=script)

    body
        header
            nav
                ul
                    li
                        a(href='/') HOME
                    li
                        a(href='https://github.com/tjhiry29/SlothChat', target="blank") ABOUT
        div#error
        div#content-body.container-fluid
            block content
        footer
            nav
                #copyright
                    | Copyright notice here...
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/client.js")