html, body {
    height: 100%;
    margin: 0;
    background: #333;
    color: #9d936d;
    overflow: visible;
    -webkit-text-size-adjust: 100%;
}

/* ============================================================ */

header, footer {
    background: #222;
    color: #777;
}
nav {
    width: 800px;
    margin: 0 auto;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    padding: 10px 0;
    list-style: none;
}
nav ul li a {
    font-family: Audiowide;
    font-size: 16px;
    padding: 7px 14px;
}
header nav { text-align: left; }
footer nav { text-align: center; }

/* ============================================================ */

body, div, table, input {
    font-family: Roboto Mono;
    font-size: 16px;
}
a {
    color: #777;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
}
a:hover {
    color: #ccc;
    transition: 300ms;
}

h1, h2, h3, h4, h5 {
    font-family: Audiowide;
    margin: 5px;
}
h1 { font-size: 50px; }
h2 { font-size: 34px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 12px; }

div, input, button {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
input, button {
    padding: 5px 10px;
    border: none;
    outline: none;
    vertical-align: top;
}
button {
    font-family: Audiowide;
    font-size: 16px;
    background: #9d936d;
    color: #222;
    cursor: pointer;
}
button:hover {
    background: #ccc;
    transition: 300ms;
}

.intro-button {
    width: 250px;
    padding: 15px 10px;
}

#content-body {
    padding: 15px;
    width: 100%;
    float: center;
}

.message-display{
    height: 500px;
    overflow: scroll;
    background-color: #eee;
}

.message-container {
}

.message {
    padding: 2px 5px 0px 5px;
    margin: 2px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    word-wrap: break-word;
    max-width: 50%;
    display: inline-block;
    clear: both;
    float: left;
}

.message.user-message {
    clear: both;
    float: right;
}

.message p {
    margin-bottom: 0px;
}

#message_form {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: grey;
    padding: 15px;
    height: 25%;
}

#message_form input {
    display: inline-block;
}

#message {
    width: 75%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#message_submit {
    width: 25%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}